.menu{
    display: flex;
    justify-content: space-between;
   background-color: #3371FF;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
    background-color:#ccc;
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #F033FF;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: white;
    
    width:310px;
    font-family: fantasy;
    
}
.Amogh {
    background-color: #3393FF;
}
.position1 {
    position: absolute;
    left: 250px;
    top: 105px;
    
}
.position2 {
    position: absolute;
    left: 350px;
    top: 105px;
    
}
.position3 {
    position: absolute;
    left: 520px;
    top: 55px;
    
}

